.example {
    background: #f9f9f9;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

.IconRadioGroup::after {
    clear: both;
    content: "";
    display: table;
}

.IconRadioInput {
    float: left;
    width: 100px;
    height: 60px;
    text-align: center;
    margin: 5px;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
}

.IconRadioInput__icon {
    font-size: 20px;
    padding: 3px;
}

.IconRadioInput__icon span::before {
    color: black;
}

.IconRadioInput__input {
    display: none;
}

.IconRadioInput--checked {
    color: deepskyblue;
    border-color: deepskyblue;
}

.IconRadioInput__icon {
    font-size: 20px;
    padding: 3px;
}

.IconRadioInput--checked .IconRadioInput__icon span::before {
    color: deepskyblue;
}
