// This have dependency from styleguide project
// We use it for pg-pages and for components development example of components

// Require styleguide css for example app only
@import "../../node_modules/cw-styleguide/sass/coverwallet-styleguide";

@import "../../lib/stylesheets/main";

body {
  background: #f9f9f9;
}

.example {
  max-width: 1200px;
  padding: 40px;
  margin: 0 auto;

  @include media($tablet) {
    width: 100%;
    padding: 20px;
  }
}



.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.box  {
  background: white;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
